<!doctype html>
<html ng-app>
    <head>
        <meta charset="utf-8">
        <meta http-equiv="X-UA-Compatible" content="IE=edge,chrome=1">
        <title>Shogi js test bed</title>
        <meta name="description" content="">
        <meta name="viewport" content="width=device-width">

        <!-- build:css styles/main.css -->
        <link rel="stylesheet" href="styles/normalize.css">
        <link rel="stylesheet" href="styles/style.css">
        <!-- endbuild -->
    </head>

    <body>
        <!-- build:js(app) scripts/bower_components.js -->
        <script src="bower_components/underscore/underscore.js"></script>
        <script src="bower_components/jquery/dist/jquery.js"></script>
        <script src="bower_components/crafty/dist/crafty.js"></script>
        <!-- <script src="bower_components/angularjs/dist/crafty.js"></script> -->
        <!-- endbuild -->
        <script src="https://ajax.googleapis.com/ajax/libs/angularjs/1.2.13/angular.js"></script>

        <!-- build:js scripts/crafty_debug.js -->
        <!-- <script src="libs/CraftyDebug/craftyDebug.js"></script> -->
        <!-- <script src="libs/CraftyDebug/panels/assets.js"></script> -->
        <!-- <script src="libs/CraftyDebug/panels/entities.js"></script> -->
        <!-- endbuild -->

        <!-- build:js(.tmp) scripts/combined-scripts.js -->
        <script src="scripts/combined-scripts.js"></script>
        <!-- endbuild -->
        <script>
            function RecordCtrl($scope) {
                $scope.moveList = [
                    {text: "7三不成"}
                ];
            };
        </script>

        <div>
            <label> name:</label>
            <input 
                type="text" 
                ng-model="yourName" 
                placeholder="put your name here" />
            <hr>
            <span> Hello! {{yourName}} </span>
        </div>
        <div><hr></div>
        <div ng-controller="RecordCtrl">
            <ol>
                <li ng-repeat="move in moveList">
                    <p ng-bind="move.text">
                </li>
            </ol>
        </div>
    </body>
</html>
